.timer {
    color: black;
    border-radius: 2rem;
    background-color: tomato;
    text-align: center;
    padding: 20px;
    margin: 30px;
    box-shadow: -0.1rem 0.2rem 0.4rem 0.4rem rgb(192, 119, 109);    
}

h3 {
    font-size: 20px;
}

.score {
    color: black;
    border-radius: 2rem;
    background-color: rgb(71, 255, 111);
    text-align: center;
    padding: 20px;
    margin: 30px;
    box-shadow: -0.1rem 0.2rem 0.4rem 0.4rem rgb(175, 223, 63); 
}

#biggestBox {
    border: thick;
    border-radius: 2rem;
    border-color: rgb(219, 129, 129);
    background-color: rgb(74, 83, 199);
    margin-top: 30px;
    box-shadow: -0.1rem 0.2rem 0.4rem 0.4rem rgb(121, 109, 192);
}

.pgHeading {
    color: snow;
    font-size: 50px;
    padding-top: 15px;
    text-shadow: 2px 2px 4px #000000;
}

.questionCntnt {
    color: rgb(255, 255, 255);
    margin: 25px;
    font-size: 18px;
    font-style: italic;
    text-shadow: 2px 2px 4px #000000;

}

.instructions { 
    margin: 15px;
}

.question { 
    color: red;
    font-size: 30px;
    padding-top: 15px;
    text-shadow: 2px 2px 4px #000000;
}

#option1, #option2, #option3, #option4, #option5 { 
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    background-color: seashell;
    background-color: black;
}

#option1:hover, #option2:hover, #option3:hover, #option4:hover, #option5:hover { 
    cursor: pointer;
    color: royalblue;
    box-shadow: -0.1rem 0.2rem 0.4rem 0.4rem rgb(202, 115, 115);
    font-weight: bold;
    transform: scale(1.07);
}

#startquizbtn { 
    margin-bottom: 40px;
    border-radius: 1rem;
    background-color:  rgb(202, 115, 115);;
    font-size: 17px;
}

#startquizbtn:hover { 
    cursor: pointer;
    background: rgb(108, 141, 95);
    box-shadow: -0.1rem 0.2rem 0.4rem 0.4rem  rgb(202, 115, 115);
    font-weight: bold;
    transform: scale(1.07);
}

#instructions {
    font-style: italic;
}

/* ADD TO THE SITE LATER
.answerIndicator {
    margin: auto;
    margin-top: 70px;
    padding-bottom: 70px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow:
      inset 0 0 50px #fff,      /* inner white */
      inset 20px 0 80px #f0f,   /* inner left magenta short */
      inset -20px 0 80px #0ff,  /* inner right cyan short */
      inset 20px 0 300px #f0f,  /* inner left magenta broad */
      inset -20px 0 300px #0ff, /* inner right cyan broad */
      0 0 50px #fff,            /* outer white */
      -10px 0 80px #f0f,        /* outer left magenta */
      10px 0 80px #0ff;         /* outer right cyan */
  } */

